<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.el.user.mapper.user.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.el.framework.model.user.entity.ElCompany">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="linkname" jdbcType="VARCHAR" property="linkname" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="identitypic" jdbcType="VARCHAR" property="identitypic" />
    <result column="worktype" jdbcType="VARCHAR" property="worktype" />
    <result column="businesspic" jdbcType="VARCHAR" property="businesspic" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, linkname, `name`, mobile, email, intro, logo, identitypic, worktype, businesspic, 
    `status`
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from el_company
    where id = #{id,jdbcType=VARCHAR}
  </delete>

</mapper>