<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.el.user.mapper.user.CompanyUserMapper">
  <resultMap id="BaseResultMap" type="com.el.framework.model.user.entity.ElCompanyUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, user_id
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from el_company_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

</mapper>