<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.el.user.mapper.user.MenuMapper">
  <resultMap id="BaseResultMap" type="com.el.framework.model.user.entity.ElMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="is_menu" jdbcType="CHAR" property="isMenu" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, p_id, menu_name, url, is_menu, `level`, sort, `status`, icon, create_time, 
    update_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from el_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectMenuByUserId" resultType="com.el.framework.model.user.entity.ElMenu">
    select
    <include refid="Base_Column_List" />
    from el_menu left join el_permission ep on el_menu.id = ep.menu_id
    left join el_user_role eur on eur.role_id = ep.role_id
    left join el_user eu on eur.user_id = eu.id
    where eu.id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>