<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.el.user.mapper.user.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.el.framework.model.user.entity.ElRoleMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, menu_id, create_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from el_role_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>