<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.el.user.mapper.user.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.el.framework.model.user.entity.ElUserRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, role_id, create_time, creator
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from el_user_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>